<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Coast list</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Список витрат та доходів</h2>
    <form name="cost">
        <input type="hidden" name="id" value="0" />
        <div class="form-group">
            <label for="cost-name">Ім'я транзакції:</label>
            <input class="form-control" name="cost_name" />
        </div>
        <div class="form-group">
            <label for="cost-description">Опис:</label>
            <input class="form-control" name="cost_description" />
        </div>
        <div class="panel-body">
            <button type="submit" class="btn btn-sm btn-primary">Зберегти</button>
        </div>
    </form>
    <table class="table table-condensed table-striped table-bordered">
        <tr>
            <th>Id</th>
            <th>Назва</th>
            <th>Опис</th>
            <th>Редагувати</th>
            <th>Видалити</th>
        </tr>
    </table>
</div>


<script>
    // Отримання всіх користувачів
    function getCosts() {
        $.ajax({
            url: "/costs",
            type: "GET",
            contentType: "application/json",
            success: function (costs) {
                let rows = "";
                $.each(costs, function (index, cost) {
                    rows += row(cost);
                })
                $("table tbody").append(rows);
            }
        });
    }

    // Отримання одного користувача
    function getCost(id) {
        $.ajax({
            url: "/costs/"+id,
            type: "GET",
            contentType: "application/json",
            success: function (cost) {
                let form = document.forms["costForm"];
                form.elements["id"].value = cost._id;
                form.elements["cost_name"].value = cost.costName;
                form.elements["cost_description"].cost = cost.costDescription;
            }
        });
    }

    // Додавання користувача
    function addCost(costName, costDescription) {
        $.ajax({
            url: "/costs",
            contentType: "application/json",
            method: "POST",
            data: JSON.stringify({
                costName: costName,
                costDescription: costDescription
            }),
            success: function (cost) {
                $("table").append(row(cost));
            }
        })
    }


    function updateCost(costId, costName, costDescription) {
        $.ajax({
            url: "/costs",
            contentType: "application/json",
            method: "PUT",
            data: JSON.stringify({
                id: costId,
                costName: costName,
                costDescription: costDescription
            }),
            success: function (user) {
                reset();
                $("tr[data-rowid='" + cost._id + "']").replaceWith(row(cost));
            }
        })
    }

    // Скидання даних форми
    function reset() {
        let form = document.forms["costForm"];
        form.reset();
        form.elements["id"].value = 0;
    }

    // Створення рядка для таблиці
    let row = function (cost) {
        return "<tr data-rowid='" + cost._id + "'>" +
                "<td>" + cost._id + "</td>" +
                "<td>" + cost.costName + "</td> <td>" + cost.costDescription + "</td>" +
                "<td><button class='btn editLink' data-id='" + cost._id + "'>Редагувати</button></td>" +
                "<td><button class='btn removeLink' data-id='" + cost._id + "'>Видалити</button></td>" +
                "</tr>";
    }

    // Відправка форми
    $("form").submit(function (e) {
        e.preventDefault();
        let id = this.elements["id"].value;
        let costName = this.elements["cost_name"].value;
        let costDescription = this.elements["cost_description"].value;
        if (id == 0) {
            addCost(costName, costDescription);
        } else {
            updateUser(id, costName, costDescription);
        }

    });

    //Видалення користувача
    function deleteCost(id) {
        $.ajax({
            url: "/costs/"+id,
            contentType: "application/json",
            method: "DELETE",
            success: function (cost) {
                console.log(cost);
                $("tr[data-rowid='" + cost._id + "']").remove();
            }
        })
    }

    $("body").on("click", ".removeLink", function () {
        let id = $(this).data("id");
        deleteCost(id);
    });
    $("body").on("click", ".editLink", function () {
        let id = $(this).data("id");
        getCost(id);
    })
    // Завантаження витрат
    getCosts();
</script>
</body>
</html>